.header {
  position: fixed;
  width: 100%;
  height: 6rem;
  background-color: #0c0c0c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-bottom: solid;
  border-bottom-color: #e00000;
}

.header h1 {
  padding-left: 0.5rem;
}

.main-image {
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

.main-image img {
  padding-top: 5rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
